.btn {
  display: inline-block;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-transform: uppercase;
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 5px; }
  .btn:hover, .btn:focus {
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
    box-shadow: none; }

.navbar {
  color: #EEE;
  position: fixed;
  height: 50px;
  line-height: 50px;
  background: #333;
  width: 100%;
  padding-right: 20px;
  z-index: 20; }
  .navbar .title-logo {
    display: inline;
    float: left; }
    .navbar .title-logo .logo {
      height: 36px;
      margin-top: 7px;
      margin-right: 10px;
      margin-left: 10px;
      float: left; }
    .navbar .title-logo .title {
      display: inline;
      float: left; }
  .navbar .user-info {
    display: inline;
    float: right; }
    .navbar .user-info .gravatar {
      height: 36px;
      margin-top: 7px;
      float: right;
      display: inline;
      margin-right: 10px;
      border-radius: 20px; }
    .navbar .user-info .username {
      display: inline;
      float: right; }
  .navbar .btn {
    color: #eeeeee;
    background-color: #3178d3;
    border-color: transparent;
    float: right;
    padding: 0px;
    line-height: 28px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 5px; }
    .navbar .btn:hover, .navbar .btn:focus, .navbar .btn:active, .navbar .btn.active {
      color: #eeeeee;
      background-color: #2765b5; }
    .open .navbar .btn.dropdown-toggle {
      color: #eeeeee;
      background-color: #2765b5;
      background-image: none; }
    .navbar .btn.disabled, .navbar .btn.disabled:hover, .navbar .btn.disabled:focus, .navbar .btn.disabled:active, .navbar .btn.disabled.active, .navbar .btn[disabled], .navbar .btn[disabled]:hover, .navbar .btn[disabled]:focus, .navbar .btn[disabled]:active, .navbar .btn[disabled].active, fieldset[disabled] .navbar .btn, fieldset[disabled] .navbar .btn:hover, fieldset[disabled] .navbar .btn:focus, fieldset[disabled] .navbar .btn:active, fieldset[disabled] .navbar .btn.active {
      background-color: #3178d3 !important; }

.message-pane {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-wrap: break-word; }
  .message-pane .message-pane-view {
    float: left;
    height: 100%;
    overflow-y: scroll; }
    .message-pane .message-pane-view .filler-view {
      height: 60%; }

.message-view {
  width: 100%;
  max-width: 650px;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid black; }
  .message-view .header {
    box-sizing: border-box;
    height: 25px;
    line-height: 25px;
    background-color: #DDD; }
    .message-view .header .time {
      float: right;
      padding-right: 5px; }
    .message-view .header .msg-class {
      background-color: #BBB;
      display: inline-block;
      position: relative;
      padding-left: 5px;
      padding-right: 3px;
      box-sizing: border-box; }
      .message-view .header .msg-class:after {
        content: "";
        border-left: 5px solid #BBB;
        border-bottom: 25px solid transparent;
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: -5px; }
    .message-view .header .msg-instance {
      display: inline-block;
      padding-left: 3px; }
  .message-view .content {
    display: table-row; }
    .message-view .content .sender {
      width: 130px;
      padding: 3px;
      box-sizing: border-box; }
    .message-view .content .message-block {
      display: table-cell;
      width: 100%; }
      .message-view .content .message-block .message {
        padding: 3px;
        margin-bottom: 40px;
        word-break: break-all;
        word-wrap: break-word; }
      .message-view .content .message-block .signature {
        text-align: right; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  overflow: hidden; }
