.btn {
  display: inline-block;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-transform: uppercase;
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 5px; }
  .btn:hover, .btn:focus {
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
    box-shadow: none; }

.navbar {
  color: #EEE;
  position: fixed;
  height: 50px;
  line-height: 50px;
  background: #333;
  width: 100%;
  padding-right: 20px;
  z-index: 20; }
  .navbar .title-logo {
    display: inline;
    float: left; }
    .navbar .title-logo .logo {
      height: 36px;
      margin-top: 7px;
      margin-right: 10px;
      margin-left: 10px;
      float: left; }
    .navbar .title-logo .title {
      display: inline;
      float: left; }
  .navbar .user-info {
    display: inline;
    float: right; }
    .navbar .user-info .gravatar {
      height: 36px;
      margin-top: 7px;
      float: right;
      display: inline;
      margin-right: 10px;
      border-radius: 20px; }
    .navbar .user-info .username {
      display: inline;
      float: right; }
  .navbar .btn {
    color: #eeeeee;
    background-color: blue;
    border-color: transparent;
    float: right;
    padding: 0px;
    line-height: 28px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 5px; }
    .navbar .btn:hover, .navbar .btn:focus, .navbar .btn:active, .navbar .btn.active {
      color: #eeeeee;
      background-color: #0000d6; }
    .open .navbar .btn.dropdown-toggle {
      color: #eeeeee;
      background-color: #0000d6;
      background-image: none; }
    .navbar .btn.disabled, .navbar .btn.disabled:hover, .navbar .btn.disabled:focus, .navbar .btn.disabled:active, .navbar .btn.disabled.active, .navbar .btn[disabled], .navbar .btn[disabled]:hover, .navbar .btn[disabled]:focus, .navbar .btn[disabled]:active, .navbar .btn[disabled].active, fieldset[disabled] .navbar .btn, fieldset[disabled] .navbar .btn:hover, fieldset[disabled] .navbar .btn:focus, fieldset[disabled] .navbar .btn:active, fieldset[disabled] .navbar .btn.active {
      background-color: blue !important; }

.message-pane {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-wrap: break-word; }

.message-view {
  width: 100%;
  max-width: 800px;
  margin: auto; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif; }
