@font-face {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  src: local("Krona One"), local("KronaOne-Regular"), url(https://themes.googleusercontent.com/static/fonts/kronaone/v2/ix3TbrGcGYAHLWi4hTTy1LO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
.btn {
  display: inline-block;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-transform: uppercase;
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 5px; }
  .btn:hover, .btn:focus {
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
    box-shadow: none; }

.navbar {
  color: #EEE;
  position: fixed;
  height: 50px;
  line-height: 50px;
  background: #333;
  width: 100%;
  padding-right: 20px;
  z-index: 20; }
  .navbar .title-logo {
    display: inline;
    float: left; }
    .navbar .title-logo .logo {
      height: 36px;
      margin-top: 7px;
      margin-right: 10px;
      margin-left: 10px;
      float: left; }
    .navbar .title-logo .title {
      display: inline;
      float: left;
      font-family: 'Krona One';
      text-transform: uppercase; }
  .navbar .user-info {
    display: inline;
    float: right; }
    .navbar .user-info .gravatar {
      height: 36px;
      margin-top: 7px;
      float: right;
      display: inline;
      margin-right: 10px;
      border-radius: 20px; }
    .navbar .user-info .username {
      display: inline;
      float: right;
      color: #EEE;
      text-decoration: none; }
      .navbar .user-info .username:hover {
        text-decoration: underline; }
  .navbar .add-pane {
    float: right;
    margin-right: 25px;
    cursor: pointer; }
  .navbar .btn {
    color: #eeeeee;
    background-color: #3178d3;
    border-color: transparent;
    float: right;
    padding: 0px;
    line-height: 28px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 5px; }
    .navbar .btn:hover, .navbar .btn:focus, .navbar .btn:active, .navbar .btn.active {
      color: #eeeeee;
      background-color: #2765b5; }
    .open .navbar .btn.dropdown-toggle {
      color: #eeeeee;
      background-color: #2765b5;
      background-image: none; }
    .navbar .btn.disabled, .navbar .btn.disabled:hover, .navbar .btn.disabled:focus, .navbar .btn.disabled:active, .navbar .btn.disabled.active, .navbar .btn[disabled], .navbar .btn[disabled]:hover, .navbar .btn[disabled]:focus, .navbar .btn[disabled]:active, .navbar .btn[disabled].active, fieldset[disabled] .navbar .btn, fieldset[disabled] .navbar .btn:hover, fieldset[disabled] .navbar .btn:focus, fieldset[disabled] .navbar .btn:active, fieldset[disabled] .navbar .btn.active {
      background-color: #3178d3 !important; }

.message-pane {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-wrap: break-word; }
  .message-pane .message-pane-view {
    float: left;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .message-pane .message-pane-view:last-child {
      border: none; }
    .message-pane .message-pane-view .filler-view {
      height: 60%; }
  .message-pane .no-panes {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 280px;
    font-size: 40px;
    color: #BBB; }

.message-view {
  width: 100%;
  max-width: 650px;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid black;
  border-top: none; }
  .message-view .header {
    box-sizing: border-box;
    height: 25px;
    line-height: 25px;
    background-color: #CCC;
    position: relative; }
    .message-view .header:hover .time.from-now {
      opacity: 0; }
    .message-view .header:hover .time.absolute {
      opacity: 1; }
    .message-view .header .time {
      position: absolute;
      right: 0;
      padding-right: 5px;
      opacity: 1;
      transition: opacity 0.2s 0.5s; }
      .message-view .header .time.absolute {
        opacity: 0; }
    .message-view .header .msg-class {
      background-color: #BBB;
      display: inline-block;
      position: relative;
      padding-left: 5px;
      padding-right: 3px;
      box-sizing: border-box; }
      .message-view .header .msg-class:after {
        content: "";
        border-left: 5px solid #BBB;
        border-bottom: 25px solid transparent;
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: -5px; }
    .message-view .header .msg-instance {
      display: inline-block;
      padding-left: 3px; }
  .message-view .content {
    display: table-row; }
    .message-view .content .sender {
      text-align: center;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      padding: 0 5px;
      background-color: #EEE;
      font-size: 14px;
      position: relative;
      z-index: 2;
      max-width: 130px;
      width: 130px;
      box-sizing: border-box; }
    .message-view .content .message-block {
      display: table-cell;
      width: 100%; }
      .message-view .content .message-block .message {
        padding: 3px;
        margin-bottom: 40px;
        word-break: break-all;
        word-wrap: break-word;
        margin-top: 0px; }
      .message-view .content .message-block .bottom-row {
        padding: 5px;
        font-size: 12px;
        height: 15px;
        position: relative; }
        .message-view .content .message-block .bottom-row .signature {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 300px;
          float: left; }
        .message-view .content .message-block .bottom-row .controls {
          position: absolute;
          bottom: 5px;
          right: 5px; }
          .message-view .content .message-block .bottom-row .controls i.fa {
            line-height: 15px;
            cursor: pointer;
            margin-right: 10px;
            font-size: 16px;
            color: #888; }
            .message-view .content .message-block .bottom-row .controls i.fa:hover {
              color: black; }

.compose-bar {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #555;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 0px 1px black;
  z-index: 10; }
  .compose-bar .single-bar {
    height: 30px;
    line-height: 30px;
    padding: 0px 25px 0px 10px; }
    .compose-bar .single-bar .compose {
      float: right;
      cursor: pointer; }
    .compose-bar .single-bar .to-bottom {
      float: left;
      cursor: pointer; }
  .compose-bar .top-bar {
    height: 30px;
    line-height: 30px;
    padding: 0px 25px 0px 10px;
    background-color: #444; }
    .compose-bar .top-bar .title {
      float: left; }
    .compose-bar .top-bar .close {
      float: right;
      cursor: pointer;
      font-size: 24px; }
      .compose-bar .top-bar .close:hover {
        color: #ff3333; }
  .compose-bar .composer {
    height: 300px;
    width: 100%;
    max-width: 650px;
    margin: auto;
    margin-top: 15px; }
    .compose-bar .composer input, .compose-bar .composer textarea {
      width: 90%;
      font-size: 16px;
      padding: 3px 5px;
      border: none;
      outline: none;
      margin-bottom: 5px;
      margin-left: 5%;
      margin-right: 5%; }
    .compose-bar .composer .send {
      color: #eeeeee;
      background-color: #3178d3;
      border-color: transparent;
      float: right;
      margin-right: 5%; }
      .compose-bar .composer .send:hover, .compose-bar .composer .send:focus, .compose-bar .composer .send:active, .compose-bar .composer .send.active {
        color: #eeeeee;
        background-color: #2765b5; }
      .open .compose-bar .composer .send.dropdown-toggle {
        color: #eeeeee;
        background-color: #2765b5;
        background-image: none; }
      .compose-bar .composer .send.disabled, .compose-bar .composer .send.disabled:hover, .compose-bar .composer .send.disabled:focus, .compose-bar .composer .send.disabled:active, .compose-bar .composer .send.disabled.active, .compose-bar .composer .send[disabled], .compose-bar .composer .send[disabled]:hover, .compose-bar .composer .send[disabled]:focus, .compose-bar .composer .send[disabled]:active, .compose-bar .composer .send[disabled].active, fieldset[disabled] .compose-bar .composer .send, fieldset[disabled] .compose-bar .composer .send:hover, fieldset[disabled] .compose-bar .composer .send:focus, fieldset[disabled] .compose-bar .composer .send:active, fieldset[disabled] .compose-bar .composer .send.active {
        background-color: #3178d3 !important; }

.filter-bar {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #555;
  color: white;
  padding: 0px 25px 0px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 0px 5px black;
  z-index: 10; }
  .filter-bar .top-bar {
    height: 30px;
    line-height: 30px; }
    .filter-bar .top-bar .title {
      float: left; }
    .filter-bar .top-bar .filters {
      float: right;
      cursor: pointer;
      margin-right: 15px; }
    .filter-bar .top-bar .remove {
      float: right;
      cursor: pointer;
      font-size: 30px;
      margin-top: -2px; }
      .filter-bar .top-bar .remove:hover {
        color: #ff3333; }
  .filter-bar .filter-editor {
    height: 200px; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  overflow: hidden; }
