[hidden] { display: none !important }
* { font: 10pt/15px monospace; }

/* Random styling just to position some random box*/
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  /* asdfsklj margin collapsing */
  padding-top: 1px;
  margin-top: -1px;
}
a {
  text-decoration: none;
  color: inherit;
}
#messagelist {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;

  background: black;
  overflow: scroll;
}
#messagelist:focus {
  outline: none;
}
#messagelist::-webkit-scrollbar {
  display: none;
}

pre { padding: 0; margin: 0 }
.message::before {
  content: "  ";
}
.message a.unauth::before {
  content: "UNAUTH: ";
}
.message:hover a, #reply-bar:hover a, .zwrite-form:hover a {
  text-decoration: underline;
  cursor: pointer;
}
.message:hover a:hover, #reply-bar:hover a:hover, .zwrite-form:hover a:hover {
  font-weight: bold;
}
.message-selected::before, .message-selected:hover::before {
  content: "->";
}

.msgview-top-marker {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}
.msgview-loading-above, .msgview-loading-below {
  text-align: center;
  color: white;
  height: 100%;
  position: relative;
}
.msgview-loading-above-text {
  width: 100%;
  padding: 5px 0 5px 0;
  position: absolute;
  bottom: 0;
}
.msgview-loading-below-text {
  width: 100%;
  padding: 5px 0 5px 0;
}
.msgview-loading-above-at-end {
  display: none;
}
.msgview-loading-below-at-end {
  visibility: hidden;  /* keep the spacer */
  height: 75%;
}
.msgview-bottom-spacer {
  height: 50%;
}

.dialog-overlay {
  opacity: 0.85;
  background-color: #000;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}
.dialog-dummy-parent {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 5px;
}
.dialog {
  border-radius: 5px;
  margin: 20px auto 0 auto;
  max-width: 500px;
  padding: 10px;
  background-color: white;
  color:black;
}

#reset-view {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#reply-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    font-family: monospace;
    background-color: black;
}
#reply-box > form {
    color: white;
    display: block;
    max-width: 655px;
}
#reply-box > form a {
    float: right;
}
#reply-box span[id|="zwrite"] {
    display: inline-block;
    background: white;
    color: black;
    padding: 0 1em;
}
#reply-box .collapsed:not(:hover) {
    color: #888;
}
#reply-box .collapsed label::after {
    content: "...";
}
#reply-box .collapsed span {
    display: none;
}
#reply-box textarea {
    font-family: monospace;
    padding: 0;
    margin: 3px 0;
    border: none;
    display: block;
}

#reply-bar {
    background-color: white;
    padding: 0 16px;
}
#reply-bar > a, #reply-bar > span {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    position: relative;
    background: white;
    padding: 0 8px;
}
#reply-bar > hr {
    position: absolute;
    left: -1px;
    right: -1px;
    height: 8px;
    border-style: solid;
    border-width: 1px;
}
#reply-bar > .close-button {
    float: right;
}
