[hidden] { display: none !important }

/* Random styling just to position some random box*/
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  /* asdfsklj margin collapsing */
  padding-top: 1px;
  margin-top: -1px;
}
#messagelist {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;

  background: black;
  overflow: scroll;
}
#messagelist:focus {
  outline: none;
}
#messagelist::-webkit-scrollbar {
  display: none;
}

pre { padding: 0; margin: 0 }
.message {
  padding: 10px;
}
.message:hover {
  background-color: #eee;
}
.message-selected, .message-selected:hover {
  background-color: yellow;
}

.msgview-top-marker {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}
.msgview-loading-above, .msgview-loading-below {
  text-align: center;
  color: white;
  height: 100%;
  position: relative;
}
.msgview-loading-above-text {
  width: 100%;
  padding: 5px 0 5px 0;
  position: absolute;
  bottom: 0;
}
.msgview-loading-below-text {
  width: 100%;
  padding: 5px 0 5px 0;
}
.msgview-loading-above-at-end {
  display: none;
}
.msgview-loading-below-at-end {
  visibility: hidden;  /* keep the spacer */
  height: 75%;
}
.msgview-bottom-spacer {
  height: 50%;
}

.dialog-overlay {
  opacity: 0.85;
  background-color: #000;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}
.dialog-dummy-parent {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 5px;
}
.dialog {
  border-radius: 5px;
  margin: 20px auto 0 auto;
  max-width: 500px;
  padding: 10px;
  background-color: white;
  color:black;
}

#reset-view {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#reply-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    border-top: 1px solid black;
}
#reply-box > form {
    display: block;
    margin: 5px auto;
    max-width: 650px;
}
#reply-box > .close-button {
    float: right;
}
#reply-box textarea {
    font-family: monospace;
}