node_modules
dist
.tmp
.sass-cache
app/bower_components
app/.htaccess

.DS_Store

app/scripts-src/
!app/scripts-src/api.js
!app/scripts-src/colors.js
!app/scripts-src/events.js
!app/scripts-src/filter.js
!app/scripts-src/init.js
!app/scripts-src/model.js
!app/scripts-src/polyfills.js
!app/scripts-src/sequtil.js
!app/scripts-src/storage.js
!app/scripts-src/tickets.js
!app/scripts-src/timespan.js
!app/scripts-src/url.js
!app/scripts-src/userinfo.js
!app/scripts-src/util.js
!app/scripts-src/ztext.js

app/styles/main.css