<!DOCTYPE html>
<html ng-app="roostApp" ng-csp ng-controller="RoostController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roost</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="SHORTCUT ICON" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/roost-logo_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/roost-logo_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/roost-logo_114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/roost-logo_144x144.png">

    <!-- build:js /scripts/q.min.js -->
    <script src="/bower_components/q/q.js"></script>
    <!-- endbuild -->
    <script src="/scripts/sockjs.min.js"></script>
    <!-- build:js /scripts/winchan.min.js -->
    <script src="/bower_components/winchan/winchan.js"></script>
    <!-- endbuild -->

    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/angular.min.js"></script>

    <script src="/scripts/cryptojs-des.js"></script>
    <script src="/scripts/sjcl.js"></script>

    <script src="/scripts/webathena.js"></script>
    <!-- build:js /scripts/gss.min.js -->
    <script src="/bower_components/webathena/web_scripts/js/gss.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/roost.min.js -->
    <script src="/scripts-src/config.js"></script>
    <script src="/scripts-src/sidetable.js"></script>
    <script src="/scripts-src/MutationObserver.js"></script>
    <script src="/scripts-src/polyfills.js"></script>
    <script src="/scripts-src/events.js"></script>
    <script src="/scripts-src/timespan.js"></script>
    <script src="/scripts-src/sequtil.js"></script>
    <script src="/scripts-src/url.js"></script>
    <script src="/scripts-src/util.js"></script>
    <script src="/scripts-src/storage.js"></script>
    <script src="/scripts-src/tickets.js"></script>
    <script src="/scripts-src/filter.js"></script>
    <script src="/scripts-src/userinfo.js"></script>
    <script src="/scripts-src/api.js"></script>
    <script src="/scripts-src/model.js"></script>
    <script src="/scripts-src/colors.js"></script>
    <script src="/scripts-src/ztext.js"></script>
    <!-- endbuild -->
    <!-- build:js /scripts/app.min.js -->
    <script src="/scripts-src/app.js"></script>
    <script src="/scripts-src/messageview.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <button id="reset-view" class="btn btn-default"
            ng-click="resetView()">Reset view</button>
    <div id="recent-states" class="btn-group">
      <button class="btn btn-default dropdown-toggle"
              data-toggle="dropdown">Recent positions <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li ng-repeat="state in scrollStates">
          <a ng-click="setScrollState(state)">
            {{state.scroll.receiveTime | date:'yyyy-MM-dd hh:mm:ss a'}}
          </a>
        </li>
      </ul>
    </div>

    <message-view ng-cloak>
      <div ng-class="{'msgview-loading-above':1, 'msgview-loading-above-at-end':atTop}">
        <div class="msgview-loading-above-text">Loading...</div>
      </div>
      <pre msgview-repeat-message="msg"
           msgview-model="model"
           msgview-selection="selection"
           msgview-at-top="atTop"
           msgview-at-bottom="atBottom"

           ng-class="{'message': 1, 'message-selected': selected}"
           random-color-key="{{msg.classKey}}|{{msg.instanceKey}}"
><a href="#msg-{{msg.id|urlencode}}">[LINK]</a> {{msg.class}} / {{msg.instance}} / {{msg.sender|shortZuser}}  {{msg.time|date:'yyyy-MM-dd hh:mm:ss a'}}
<span bind-ztext="{{msg.message}}"></span></pre>
      <div ng-class="{'msgview-loading-below':1, 'msgview-loading-below-at-end':atBottom}">
        Loading...
      </div>
    </message-view>

    <div id="reply-box" ng-cloak ng-show="showReplyBox">
      <button type="button" class="pull-right close"
              ng-click="hideReplyBox()">&times;</button>
      <form class="zwrite-form form-horizontal"
            ng-submit="sendZwrite({
                         class: (replyClass || 'message'),
                         instance: (replyInstance || 'personal'),
                         recipient: (replyRecipient|longZuser),
                         message: replyMessage
                       })"
            on-keydown="replyBoxKeydown($event)">
        <div class="form-group">
          <label for="reply-form-class" class="col-lg-2 control-label">
            Class
          </label>
          <div class="col-lg-10">
            <input name="class" id="reply-form-class"
                   class="form-control input-small" placeholder="message"
                   focus-on="showReplyBox; focusClass"
                   ng-model="replyClass">
          </div>
        </div>
        <div class="form-group">
          <label for="reply-form-instance" class="col-lg-2 control-label">
            Instance
          </label>
          <div class="col-lg-10">
            <input name="instance" id="reply-form-instance"
                   class="form-control input-small" placeholder="personal"
                   ng-model="replyInstance">
          </div>
        </div>
        <div class="form-group">
          <label for="reply-form-recipient" class="col-lg-2 control-label">
            Recipient
          </label>
          <div class="col-lg-10">
            <input name="recipient" id="reply-form-recipient"
                   class="form-control input-small"
                   ng-model="replyRecipient">
          </div>
        </div>
        <textarea name="message" class="form-control" rows=10 cols=80
                  focus-on="showReplyBox; focusMessage"
                  ng-model="replyMessage"></textarea><br>
        <input type="submit" value="Send" class="btn btn-primary">
      </form>
    </div>

    <div class="modal fade" show-modal="ticketNeeded">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <ng-switch on="isLoggedIn">
              <h4 class="modal-title" ng-switch-when="true">Your Login has Expired</h4>
              <h4 class="modal-title" ng-switch-default>Welcome to Roost</h4>
            </ng-switch>
          </div>
          <div class="modal-body">
            <ng-switch on="isLoggedIn">
              <div ng-switch-when="true">
                <p>Please login again.</p>
              </div>
              <div ng-switch-default>
                <p>WARNING: This is very experimental right now. No
                  guarantees about it doing anything remotely reasonable at
                  all. Talk to davidben if you want to know the state.</p>

                <p>In particular, the UI is still basically
                  non-existant. It's getting there though. Press z to
                  send a message, r to replay. Narrowing works with the
                  same keys as barnowl. Run <code>athrun roost
                    import-subs</code> on Athena to import your zephyr
                  subs.</p>

                <p>You also won't receive personals until you've done
                  that or visited <a href="/api-test.html">this other
                    silly page</a> and hit "Refresh zephyr credentials"</p>
              </div>
            </ng-switch>
            <button class="login-button btn btn-primary"
                    ng-click="refreshTicketsInteractive()">Login with Webathena</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
