.compose-bar {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #555;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 0px 1px black;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s;

  &.selected {
    opacity: 1 !important;
  }

  .single-bar {
    height: $compose-filter-bar-height;
    line-height: $compose-filter-bar-height;
    padding: 0px 25px 0px 10px;

    .compose {
      float: right;
      cursor: pointer;
    }

    .to-bottom {
      float: left;
      cursor: pointer;
    }
  }

  .top-bar {
    height: $compose-filter-bar-height;
    line-height: $compose-filter-bar-height;
    padding: 0px 25px 0px 10px;
    background-color: #444;

    .title {
      float: left;
    }

    .close {
      float: right;
      cursor: pointer;
      font-size: 24px;

      &:hover {
        color: lighten(red, 10%);
      }
    }
  }

  .composer {
    height: 300px;
    width: 100%;
    max-width: 650px;
    margin: auto;
    margin-top: 15px;

    input, textarea { 
      width: 90%;
      font-size: 14px;
      padding: 3px 5px;
      border: none;
      outline: none;
      margin-bottom: 5px;
      margin-left: 5%;
      margin-right: 5%;
      font-family: $monospace-font;
    }

    .send {
      @include button-variant($primary-btn-color, $primary-btn-bg);
      float: right;
      margin-right: 5%;
    }
  }
}