.message-view {
  width: 100%;
  max-width: 700px;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BBB;
  border-top: none;

  &.positioned {
    border: 2px solid black;
  }

  .header{
    box-sizing: border-box;
    height: $msg-header-height;
    line-height: $msg-header-height - 1px;
    background-color: #CCC;
    position: relative;
    font-size: 14px;

    &:hover {
      .time.from-now {
        opacity: 0;
      }

      .time.absolute {
        opacity: 1;
      }
    }

    .time {
      position: absolute;
      right: 0;
      padding-right: 5px;
      opacity: 1;
      transition: opacity 0.2s 0.5s;

      &.absolute {
        opacity: 0;
      }
    }

    .chat-header {
      display: inline-block;
      float: left;
      background-color: none;
      cursor: pointer;
      padding-left: 5px;
      padding-right: 3px;
      box-sizing: border-box;

      &:hover {
        text-decoration: underline;
      }
    }

    .msg-class {
      background-color: #BBB;
      display: inline-block;
      position: relative;
      padding-left: 5px;
      padding-right: 3px;
      box-sizing: border-box;
      float: left;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .divider {
      display: inline-block;
      border-left: 5px solid #BBB;
      border-bottom: $msg-header-height solid transparent;
      width: 0;
      height: 0;
      float: left;
    }

    .msg-instance {
      display: inline-block;
      padding-left: 3px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    display: table-row;

    &.outgoing {
      .sender {
        background-color: $outgoing-sender-color;
      }
    }

    .sender {
      text-align: center;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      padding: 0 5px;
      background-color: #EEE;
      font-size: 12px;
      position: relative;
      z-index: 2;
      width: 75px;
      min-width: 75px;
      box-sizing: border-box;
      word-wrap: break-word;
      font-weight: 700;

      .gravatar {
        border: 1px solid #BBB;
        width: $gravatar-size;
        height: $gravatar-size;
      }

      .not-verified {
        text-transform: uppercase;
        color: red;
        font-size: 9px;
      }
    }

    .message-block {
      display: table-cell;
      width: 100%;

      .message {
        padding: 3px;
        margin-bottom: 30px;
        word-break: break-all;
        word-wrap: break-word;
        margin-top: 0px;
        white-space: pre-wrap;
        text-indent: -42px;
        font-size: 14px;
        font-family: $monospace-font;

        a {
          text-decoration: none;
        }
      }

      .bottom-row {
        padding: 5px;
        font-size: 12px;
        height: 15px;
        position: relative;

        .signature {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 300px; // FUCK THIS THING
          float: left;
        }

        .controls {
          position: absolute;
          bottom: 5px;
          right: 5px;

          i.fa {
            line-height: 15px;
            cursor: pointer;
            margin-right: 10px;
            font-size: 16px;
            color: #888;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}