.message-pane {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow-y: hidden;
  transition: top 0.2s ease-out;

  &.expanded {
    top: 0px;
  }

  &.mobile {
    overflow-x: hidden;
  }

  .message-pane-view {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    padding-top: $compose-filter-bar-height;
    transition: opacity 0.2s ease-in;

    .message-pane-view-inner {
      height: 100%;
      overflow-y: auto;

      // Create a new stacking context.
      position: relative;
      z-index: 1;

    }

    &.not-loaded {
      opacity: 0.5;
    }

    &:hover, &.persist {
      .filter-bar {
        opacity: 0.8;
      }

      .compose-bar {
        opacity: 0.8;
      }
    }

    &:last-child {
      border: none;
    }

    .loading {
      height: 30%;
      text-align: center;

      i {
        margin-top: 12%;
        font-size: 6em;
        color: #BBB;
      }
    }

    .no-messages {
      text-align: center;
      font-size: 40px;
      color: #BBB;
      margin-top: 200px;
    }

    .filler-view {
      height: 70%;
    }

    .notify {
      max-width: $msg-max-width;
      width: 100%;
      margin: auto;
      height: 40px;
      line-height: 20px;
      color: #BBB;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 10px;
      font-style: italic;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .no-panes {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 120px;
    margin: auto;
    font-size: 30px;
    color: #BBB;
    left: 0;
    right: 0;
    padding: 20px;
    white-space: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}