.message-pane {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow-y: hidden;
  transition: top 0.2s ease-out;

  &.expanded {
    top: 0px;
  }

  .message-pane-view {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    padding-top: $compose-filter-bar-height;

    &:hover {
      .filter-bar {
        opacity: 0.8;
      }

      .compose-bar {
        opacity: 0.8;
      }
    }

    &:last-child {
      border: none;
    }

    .loading {
      height: 30%;
      text-align: center;

      i {
        margin-top: 12%;
        font-size: 6em;
        color: #BBB;
      }
    }

    .no-messages {
      text-align: center;
      font-size: 40px;
      color: #BBB;
      margin-top: 200px;
    }

    .filler-view {
      height: 70%;
    }
  }

  .no-panes {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 280px;
    font-size: 30px;
    color: #BBB;
  }
}