.message-pane {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-wrap: break-word;

  .message-pane-view {
    float: left;
    height: 100%;
    overflow-y: scroll;

    .filler-view {
      height: 60%;
    }
  }
}