.settings-panel {
  .header {
    height: $compose-filter-bar-height;
    line-height: $compose-filter-bar-height;
    background-color: #555;
    padding: 0px 10px 0px 10px;
    color: white;
    @include user-select(none);

    .remove {
      float: right;
      cursor: pointer;
      display: none;
      font-size: $compose-filter-bar-height;

      &:hover {
        color: lighten(red, 10%);
      }
    }
  }

  div.settings-form {
    padding: 5px;
    margin-top: 5px;
    position: relative;
    height: 40%;
    box-sizing: border-box;

    input, textarea {
      font-size: 16px;
      padding: 3px 5px;
      box-sizing: border-box;
      border: 1px solid #BBB;
      outline: none;
      font-family: $monospace-font;
    }

    textarea {
      width: 100%;
      display: block;
    }

    &.subs-form input {
      width: 32.5%;
    }

    &.zsig-form input#new-zsig {
      width: 100%;
      display: block;
    }

    .btn {
      @include button-variant($primary-btn-color, $primary-btn-bg);
      width: 100%;
      margin-top: 10px;
    }
  }

  .zsig-line {
    /* This table stuff is necessary to vertically center the zsig. */
    display: table;
    width: 100%;
    div.zsig, div.remove-zsig {
      display: table-cell;
      vertical-align: middle;
    }

    div.zsig {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 287px;
      min-width: 287px;
      max-width: 287px;
    }
  }

  label {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    border-bottom: 1px solid #BBB;
  }

  .remove-button {
      font-size: 28px;
      text-align: center;
      cursor: pointer;
      min-width: 97px;
      max-width: 97px;

      &:hover {
          color: lighten(red, 10%);
      }
  }

  .item-list {
    padding-left: 5px;
    padding-right: 5px;
  }

  .subs-table-container {
    height: 350px;
    overflow-y: auto;
    border-bottom: 1px solid #BBB;

    .subs-table {
      .class-td {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      td {
        min-width: 97px;
        max-width: 97px;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
      }
    }
  }

  .zsig-line, .subs-table-container td {
    text-overflow: ellipsis;
    border-bottom: 1px solid #BBB;
    padding-left: 2px;
    padding-right: 2px;
  }
}