$settings-panel-width : 560px;
$settings-panel-content-height : 560px; 

.settings-panel {
  &.hidden {
    display: none;
  }
  
  width    : 100%;
  height   : 100%;
  overflow : hidden;
  position : relative;
  z-index  : 1000;

  .modal-overlay {
    width            : 100%;
    height           : 100%;
    background-color : black;
    opacity          : 0.35;
  }

  .modal-content {
    background : white;
    position   : absolute;
    top        : 45px;
    left       : 0;
    right      : 0;
    margin     : auto;
    width      : $settings-panel-width;
    border     : 1px solid #666;
    box-sizing : border-box;
    box-shadow : 0px 2px 1px #666;

    .title-bar {
      @include user-select(none);
      height       : 40px;
      line-height  : 40px;
      padding-left : 10px;
      position     : relative;
      background   : #333;
      color        : #EEE;

      .title {
        display   : inline-block;
        font-size : 18px
      }

      .tab-container {
        display     : inline-block;
        margin-left : 20px;

        .settings-tab {
          display     : inline-block;
          margin-left : 10px;
          cursor      : pointer;

          &.selected {
            border-bottom : 6px solid $primary-btn-bg;
            line-height   : 27px;
          }
        }
      }

      .settings-close {
        position  : absolute;
        top       : 0;
        right     : 10px;
        font-size : 30px;
        cursor    : pointer;

        &:hover {
          color: lighten(red, 10%);
        }
      }
    }

    .tab-content {
      height   : $settings-panel-content-height;
      overflow : auto;

      .settings-content {
        display: none;
        padding: 10px;

        &.selected {
          display: block;
        }
      }
    }
  }

  // HOTKEY PAGE STYLING
  .hotkey-settings {
    .content {
      width      : 100%;
      text-align : center;

      th, td {
        border: 1px solid #BBB;
      }
    }
  }

  // SUBSCRIPTION PAGE STYLING
  .subscription-settings {
    .subs-form {
      height : 90px;
    }

    .subs-table-container {
      height        : $settings-panel-content-height - 115px;
      overflow-y    : auto;

      .subs-table {
        width: 100%;

        .class-td {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        tr:first-child {
          td {
            border-top : 1px solid #BBB;
          }
        }

        td {
          text-overflow : ellipsis;
          border-bottom : 1px solid #BBB;
          padding-left  : 2px;
          padding-right : 2px;
          min-width   : 100px;
          max-width   : 100px;
          white-space : nowrap;
          overflow    : hidden;
          box-sizing  : border-box;

          &.close-td {
            min-width   : 25px;
            max-width   : 25px;
            font-size   : 28px;
            cursor      : pointer;

            &:hover {
              color: lighten(red, 10%);
            }
          }
        }
      }
    }
  }

  .zsig-settings {

    .zsig-line {
      /* This table stuff is necessary to vertically center the zsig. */
      display       : table;
      width         : 100%;
      border-bottom : 1px solid #BBB;
      padding-left  : 2px;
      padding-right : 2px;

      &:first-child {
        border-top : 1px solid #BBB;
      }

      .zsig, .remove-zsig {
        display        : table-cell;
        vertical-align : middle;
      }

      .zsig {
        overflow      : hidden;
        text-overflow : ellipsis;
        width         : 287px;
        min-width     : 287px;
        max-width     : 287px;
      }
      .remove-zsig {
        font-size    : 28px;
        text-align   : center;
        cursor       : pointer;
        float        : right;
        margin-right : 20px;

        &:hover {
          color : lighten(red, 10%);
        }
      }
    }
  }

  // SHARED STYLES FOR THE WHOLE FAMILY
  .settings-form {
    padding    : 5px;
    margin-top : 5px;
    position   : relative;
    height     : 40%;
    box-sizing : border-box;

    input, textarea {
      font-size   : 16px;
      padding     : 3px 5px;
      box-sizing  : border-box;
      border      : 1px solid #BBB;
      outline     : none;
      font-family : $monospace-font;
    }

    textarea {
      width   : 100%;
      display : block;
    }

    &.subs-form input {
      width: 32.5%;
    }

    &.zsig-form input#new-zsig {
      width   : 100%;
      display : block;
    }

    .btn {
      @include button-variant($primary-btn-color, $primary-btn-bg);
      width      : 100%;
      margin-top : 10px;
    }
  }
}
