.settings-panel {
  transition: width 0.4s;
  background: #EEE;
  overflow-y: scroll;

  position: fixed;
  z-index: 15;
  top: $navbar-height;
  bottom: 0;
  right: 0;

  width: 0px;
  box-shadow: 0px 1px 10px black;

  &.expanded {
    width: 400px;

    .remove {
      display: inline-block !important;
    }
  }

  .header {
    height: $compose-filter-bar-height;
    line-height: $compose-filter-bar-height;
    background-color: #555;
    padding: 0px 10px 0px 10px;
    color: white;

    .remove {
      float: right;
      cursor: pointer;
      display: none;
      font-size: $compose-filter-bar-height;

      &:hover {
        color: lighten(red, 10%);
      }
    }
  }

  div.settings-form {
    padding: 5px;
    margin-top: 5px;

    input, textarea {
      font-size: 16px;
      padding: 3px 5px;
      box-sizing: border-box;
      border: 1px solid #BBB;
      outline: none;
      font-family: $monospace-font;
    }

    textarea {
      width: 100%;
      display: block;
    }

    &.subs-form input {
      width: 32.5%;
    }

    &.zsig-form input#new-zsig {
      width: 100%;
      display: block;
    }

    .btn {
      @include button-variant($primary-btn-color, $primary-btn-bg);
      width: 100%;
      margin-top: 10px;
    }
  }

  .zsig-line {
    /* This table stuff is necessary to vertically center the zsig. */
    display: table;
    width: 100%;
    div.zsig, div.remove-zsig {
      display: table-cell;
      vertical-align: middle;
    }

    div.zsig {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 303px;
      min-width: 303px;
      max-width: 303px;
    }
  }

  label {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }

  .remove-button {
      font-size: 28px;
      text-align: center;
      cursor: pointer;
      min-width: 97px;
      max-width: 97px;

      &:hover {
          color: lighten(red, 10%);
      }
  }

  .item-list {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }

  .subs-table-container {
    height: 60%;
    max-height: 500px;
    overflow-y: scroll;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;

    .subs-table {
      .class-td {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      td {
        min-width: 97px;
        max-width: 97px;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
      }
    }
  }

  .zsig-line, .subs-table-container td {
    text-overflow: ellipsis;
    border-bottom: 1px solid #BBB;
    padding-left: 2px;
    padding-right: 2px;
  }
}