$monospace-font: 'Inconsolata';

$navbar-height: 50px;

$primary-btn-bg: rgb(49, 120, 211);
$primary-btn-color: #EEE;

$msg-header-height: 20px;
$msg-max-width: 700px;
$gravatar-size: 32px;

$compose-filter-bar-height: 30px;

$outgoing-sender-color: lighten($primary-btn-bg, 40%);