@import "fonts";
@import "theme";
@import "components";
@import "login";
@import "navbar";
@import "messagePane";
@import "message";
@import "compose";
@import "filter";
@import "hotkeyHelp";
@import "subscriptions";

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-y: hidden;
  overflow-x: auto;
}

.login-cont {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  z-index: 20;

  .mobile-login {
    @include button-variant($primary-btn-color, $primary-btn-bg);
    display: none;
  }
}

// Hide extra testing stuff that might be useful later.
.navbar {
  .logout, .toggle-keyboard, .toggle-panes {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    height: 0px !important;

    * {
      display: none !important;
    }
  }

  .mobile-login {
    display: inline-block !important;
  }

  .message-pane {
    top: 0px !important;

    .message-view {
      .signature {
        width: 200px !important;
      }
    }
  }

  .filter-bar {
    .top-bar {
      padding: 0px 10px 0px 10px;
    }

    span, .remove {
      display: none !important;
    }

    .filters {
      margin-right: 0px !important;
    }
  }

  .compose-bar {
    .single-bar, .top-bar { 
      padding: 0px 10px 0px 10px;
    }
  }

  .no-panes {
    font-size: 16px !important;
  }

  .login-view {
    top: 10px !important;

    h1 {
      font-size: 30px !important;
    }
  }
}

@media only screen and (max-width: 720px) {
  .navbar {
    .user-info span {
      display: none !important;
    }

    .add-pane span {
      display: none;
    }

    .personal-message span {
      display: none;
    }
  }

  .no-panes {
    font-size: 16px !important;
  }
}