@import "fonts";
@import "theme";
@import "components";
@import "navbar";
@import "messagePane";
@import "message";
@import "compose";
@import "filter";
@import "hotkeyHelp";

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-y: hidden;
  overflow-x: auto;
}