{{#if showCompose}}
  <div class="top-bar">
    <div class="title">
      Compose Message
    </div>
    <div class="close">&times;</div>
  </div>
  <div class="composer">
  </div>
{{else}}
  <div class="single-bar">
    <div class="compose">
      <i class="fa fa-send"></i>
      Compose Message
    </div>
    <div class="to-bottom">
      <i class="fa fa-chevron-down"></i>
      Bottom
    </div>
  </div>
{{/if}}