<div class="top-bar">
  <div class="title">
    {{!-- TODO: Make a handlebars helper! --}}
    All Messages
  </div>
  <div class="remove">&times;</div>
  <div class="filters">
    <i class="fa fa-filter"></i>&nbsp;&nbsp;Filters
  </div>
</div>
{{#if showFilters}}
  <div class="filter-editor">
  </div>
{{/if}}