<div class="top-bar">
  <div class="title">
    {{!-- TODO: Make a handlebars helper --}}
    All Messages
  </div>
  <div class="remove">&times;</div>
  <div class="filters">
    {{#if showFilters}}
      <i class="fa fa-filter"></i>&nbsp;&nbsp;Hide Filters
    {{else}}
      <i class="fa fa-filter"></i>&nbsp;&nbsp;Show Filters
    {{/if}}
  </div>
</div>
{{#if showFilters}}
  <div class="filter-editor">
  </div>
{{/if}}