<input type="checkbox" class="gravatar"{{#if showGravatar}}checked{{/if}}><label>Show Gravatars</label>
<br>
<input type="checkbox" class="first-run"{{#unless hasSeenRoost}}checked{{/unless}}><label>Show First Run</label>