<div class="modal-overlay"/>
<div class="modal">
  <div class="header">
    <div class="title">
      Roost Hotkeys
    </div>
    <div class="close-help">
      &times;
    </div>
  </div>
  <table class="content" cellspacing="0">
    <tr>
      <th> Hotkey </th>
      <th> Function </th>
    </tr>
    <tr>
      <td> Alt+h </td>
      <td> Toggle top bar </td>
    </tr>
    <tr>
      <td> Alt+s </td>
      <td> Toggle subscription panel </td>
    </tr>
    <tr>
      <td> Alt+n </td>
      <td> Open new pane </td>
    </tr>
    <tr>
      <td> Alt+p </td>
      <td> Open PM pane </td>
    </tr>
    <tr>
      <td> Alt+x </td>
      <td> Close selected pane </td>
    </tr>
    <tr>
      <td> Left/Right </td>
      <td> Move pane selection </td>
    </tr>
    <tr>
      <td> &gt; </td>
      <td> Go to bottom </td>
    </tr>
    <tr>
      <td> &lt; </td>
      <td> Go to top </td>
    </tr>
    <tr>
      <td> Shift+v </td>
      <td> Clear filters </td>
    </tr>
    <tr>
      <td> Shift+f </td>
      <td> Show fitlers </td>
    </tr>
    <tr>
      <td> Shift+c </td>
      <td> Show composer </td>
    </tr>
    <tr>
      <td> Up/Down </td>
      <td> Move message selection </td>
    </tr>
    <tr>
      <td> r </td>
      <td> Reply to selected message </td>
    </tr>
    <tr>
      <td> q </td>
      <td> Quote selected message </td>
    </tr>
    <tr>
      <td> p </td>
      <td> PM selected message sender </td>
    </tr>
    <tr>
      <td> ? </td>
      <td> Show this box </td>
    </tr>
    <tr>
      <td> Esc </td>
      <td> Hide this box </td>
    </tr>
  </table>
</div>