<h1>Welcome to <i>Roost</i></h1>
<div>
  Roost is a web client for reading Zephyr messages, sending Zephyr messages, and managing Zephyr subscriptions. In order to use <i>Roost</i>, you will need to log in using your MIT account and Webathena.
  <br>
  <br>
  The button below will open a new tab for entering your username and password. After entering your information, choose to give <i>Roost</i> access to the information required, and you will be redirected back to this tab to begin browsing your messages.
  <br>
  <br>
</div>
<div class="btn-container">
  <button class="btn login">Login with Webathena</button>
</div>