<div class="title-logo">
  <img class="logo" src="img/roost-logo_57x57.png">
  <div class="title"> Roost </div>
</div>

{{#if username}}
  <div class="btn logout">Logout</div>
  <div class="help">
    <i class="fa fa-question-circle"></i>
  </div>
  <div class="user-info">
      <span>{{username}}</span> <img class="gravatar" src="{{gravatarNameRealm username realm}}">
  </div>
  <div class="add-pane {{#if limitReached}}disabled{{/if}}">
    <i class="fa fa-plus"></i><span>&nbsp;&nbsp;New Pane</span>
  </div>
  <div class="personal-message {{#if limitReached}}disabled{{/if}}">
    <i class="fa fa-envelope-o"></i><span>&nbsp;&nbsp;Personal Messages</span>
  </div>
{{/if}}