<div class="modal-overlay"></div>
<div class="modal-content">
  <div class="title-bar">
    <div class="title">Settings</div>
    <div class="tab-container">
      <div class="settings-tab" data-content="general">General</div>
      <div class="settings-tab" data-content="subscriptions">Subscriptions</div>
      <div class="settings-tab" data-content="zsigs">ZSigs</div>
      <div class="settings-tab" data-content="hotkeys">Hotkeys</div>
      <div class="settings-tab" data-content="help">Help</div>
    </div>
    <div class="settings-close">&times;</div>
  </div>
  <div class="tab-content">
    <div class="settings-content" data-content="general"></div>
    <div class="settings-content" data-content="subscriptions"></div>
    <div class="settings-content" data-content="zsigs"></div>
    <div class="settings-content" data-content="hotkeys"></div>
    <div class="settings-content" data-content="help"></div>
  </div>
</div>

{{!-- <div class="header">
  Signatures
  <div class="remove">&times;</div>
</div>
<div class="settings-form zsig-form">
  <div class="form-top">
    <input id="new-zsig" placeholder="Zsig">
    <button class="btn add-zsig">Add signature</button>
    <label>
      Current Signatures
    </label>
  </div>
  <div class="zsigs item-list">
    {{#each zsigs}}
      <div class="zsig-line">
        <div class="zsig">
          {{this}}
        </div>
        <div style="float: right">
          <div class="remove-button remove-zsig" data-zsig-index="{{@index}}">
            &times;
          </div>
        </div>
        <div style="clear:both"></div>
      </div>
    {{/each}}
  </div>
</div> --}}
